<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'app1/css/login.css' %}">
</head>
<body>
<!--{ % with messages = get_flashed_messages(category_filter=["login-error"]) %}
	{ % if messages %}
	<div class="errors">
		<ul>
	      { % for message in messages %}
	        <li>{{message}}</li>
	      { % endfor %}
	     </ul>
	</div>
	{ % endif %}
{ % endwith %}-->



<div class="flash">
	<ul>
		{% for message in messages %}
		<li class="{{ message.tags }}">{{message}} </li>
		{% endfor %}
	</ul>
</div>



<section class='userform'>
	<form action='/process-login' method='POST'>
        {% csrf_token %}
        <label for='email'>Email:</label>
        <input type='text' name='email'>

        <label for='password'>Password:</label>
        <input type='password' name='password'>

        <input type="submit" value="Login">
	</form>

	<p>Don't have an account? <a href='/register'>Register here</a>.</p>
</section>

</body>
</html>